/* SPDX-FileCopyrightText: 2025 Menno van der Graaf <mennovandergraaf@hotmail.com> */
/* SPDX-License-Identifier: MIT */

#game-canvas {
    width: 100%;
    height: 100%;
    position: relative;
}

.game-axis {
    padding: inherit;
    position: absolute;
    /* The absolute position is adjusted by game-board.js */
    bottom: 0;
    left: 0;
    text-align: center;
    user-select: none;
    display: flex;
    gap: 0;

    --axis-color: rgb(179, 179, 179);
    color: var(--axis-color);
}

#game-axis-vertical {
    width: 1em;
    /* Height is set from game-board.js */
    flex-direction: column;
}

#game-axis-horizontal {
    height: 1em;
    /* Width is set from game-board.js */
    flex-direction: row;
}

.game-axis .label {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.game-axis .tick {
    margin: 0;
    padding: 0;
    background: var(--axis-color);
}

#game-axis-vertical .tick {
    width: 100%;
    height: 1px;
}

#game-axis-horizontal .tick {
    width: 1px;
    height: 100%;
}
