/* SPDX-FileCopyrightText: 2025 Menno van der Graaf <mennovandergraaf@hotmail.com> */
/* SPDX-License-Identifier: MIT */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: block;

    font-family: 'Roboto', 'Helvetica', sans-serif;

    /* From https://cssgradient.io/ */
    background: rgb(174, 238, 202);
    background: radial-gradient(circle, rgba(174, 238, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

a {
    word-wrap: break-word;
    text-decoration: none;
    color: black;
}

.corner-link {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

.corner-link-text {
    line-height: 2em;
    margin-left: 0.5em;
    overflow: hidden;
    float: right;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.corner-link:hover .corner-link-text {
    opacity: 1;
}

.corner-link-icon {
    float: left;
    display: block;
    width: 2em;
    height: 2em;
}

.corner-link:hover .corner-link-icon {
    filter: drop-shadow(2px 2px 2px #94BBE9);
}

#meta-canvas {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
}

#game-container {
    width: 100%;
    height: 50%;
    display: flex;
    margin: 0;
    padding: 0;
}

.game-column {
    flex: 1;
    margin: 10px;
    padding: 20px;

    overflow: hidden;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

#game-meta {
    position: relative;
}

.game-controls {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;

    /* From https://travishorn.com/responsive-grid-in-2-minutes-with-css-grid-layout-4842a41420fe */
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content
}

.game-control {
    height: 4em;
    max-height: 4em;

    /* use lineheight to center text vertically */
    line-height: 4em;

    overflow: hidden;
    user-select: none;
    text-align: center;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 255, 255, 0.23);
}

.game-control:hover {
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.game-control.clicked {
    background: rgba(255, 255, 255, 0.5);
}
